<mat-nav-list disableRipple="true">
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/components']" routerLinkActive="active">
    Components
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/directives']" routerLinkActive="active">
    Directives
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/bindings']" routerLinkActive="active">
    Properties and Events Binding
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/services']" routerLinkActive="active">
    Using service
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/routings']" routerLinkActive="active">
    Routings
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/forms']" routerLinkActive="active">
    Template Driven Forms
  </a>
  <a mat-list-item class="list-group-item clearfix" [routerLink]="['/reactive-forms']" routerLinkActive="active">
    Reactive Forms
  </a>
</mat-nav-list>
