<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item class="list-group-item clearfix" [routerLink]="['/directives']" routerLinkActive="active">
        Directives
      </a>
      <a mat-list-item class="list-group-item clearfix"> Properties and Events Binding </a>
      <a mat-list-item class="list-group-item clearfix"> Using service </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
