<h1>Implement with service</h1>
<p>Active --> Inactive {{ counterService.activeToInactiveCounter }} times</p>
<p>Inactive --> Active {{ counterService.inactiveToActiveCounter }} times</p>
<app-active-users-finish></app-active-users-finish>
<app-inactive-users-finish></app-inactive-users-finish>
<!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
